In [8]:
import glob
import pandas as pd

In [10]:
initial_list = glob.glob("*.csv")
initial_list

['JC-202005-citibike-tripdata.csv',
 'JC-202006-citibike-tripdata.csv',
 'JC-202007-citibike-tripdata.csv',
 'JC-202008-citibike-tripdata.csv',
 'JC-202009-citibike-tripdata.csv',
 'JC-202010-citibike-tripdata.csv',
 'JC-202011-citibike-tripdata.csv',
 'JC-202012-citibike-tripdata.csv',
 'JC-202101-citibike-tripdata.csv',
 'JC-202102-citibike-tripdata.csv',
 'JC-202103-citibike-tripdata.csv',
 'JC-202104-citibike-tripdata.csv',
 'JC-202105-citibike-tripdata.csv',
 'JC-202106-citibike-tripdata.csv']

In [11]:
clean_data = pd.concat([pd.read_csv(f) for f in glob.glob("*.csv")], ignore_index = True)

In [12]:
clean_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,349.0,2020-05-01 00:09:45.5860,2020-05-01 00:15:35.2930,3195.0,Sip Ave,40.730897,-74.063913,3280.0,Astor Place,40.719282,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,138.0,2020-05-01 01:11:22.5280,2020-05-01 01:13:41.2460,3792.0,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639.0,Harborside,40.719252,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,229.0,2020-05-01 05:31:29.5350,2020-05-01 05:35:19.2400,3483.0,Montgomery St,40.719420,-74.050990,3186.0,Grove St PATH,40.719586,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,261.0,2020-05-01 05:51:39.3960,2020-05-01 05:56:00.9370,3278.0,Monmouth and 6th,40.725685,-74.048790,3186.0,Grove St PATH,40.719586,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,168.0,2020-05-01 06:06:31.9510,2020-05-01 06:09:20.1410,3194.0,McGinley Square,40.725340,-74.067622,3195.0,Sip Ave,40.730897,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
clean_data.to_csv("clean_data_May20-May21.csv")

In [14]:
clean_data.count()

tripduration               272457
starttime                  272457
stoptime                   272457
start station id           272457
start station name         272457
start station latitude     272457
start station longitude    272457
end station id             272457
end station name           272457
end station latitude       272457
end station longitude      272457
bikeid                     272457
usertype                   272457
birth year                 272457
gender                     272457
ride_id                    162249
rideable_type              162249
started_at                 162249
ended_at                   162249
start_station_name         162249
start_station_id           162249
end_station_name           161697
end_station_id             161697
start_lat                  162249
start_lng                  162249
end_lat                    161750
end_lng                    161750
member_casual              162249
dtype: int64